header {
  margin-top: var(--space-s);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > form {
    margin-left: 18px;
  }

  & > button {
    margin-right: 18px;
  }
}
