form {
  display: flex;

  & > input {
    /* todo: fo debug why var() is not working */
    color: var(--primary-color);
    border: none;
    width: calc(250 / 16 * 1rem);
    height: calc(40 / 16 * 1rem);
    background-color: var(--bg-light-grey);
    border-radius: 36px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--nunito-sans-stack);
    padding-left: 18px;

    &::placeholder {
      color: inherit;
      font-family: inherit;
      font-style: italic;
    }
  }

  & > button {
    background-color: inherit;
    width: 40px;
    border: none;
    margin-left: -40px;

    & > img {
      width: calc(20 / 16 * 1rem);
      height: calc(20 / 16 * 1rem);
    }
  }
}
