.weather-main {
  display: grid;
  grid-template-columns: repeat(6, minmax(10rem, 1fr));
  grid-template-rows: repeat(3, minmax(10rem, 1fr));
  gap: 18px;
  padding: 18px;

  & > .weather-main__section {
    font-family: var(--poppins-stack);
    position: relative;
    border-radius: var(--space-s);
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: var(--bg-backdrop-filter);

    & > .weather-main__section_header {
      margin-top: 7px;
      margin-left: 10px;
      margin-bottom: var(--space-m);
      display: flex;
      align-items: center;

      & > img {
        margin-right: 7px;
      }

      & > h1 {
        font-size: var(--font-size-xs);
        margin-left: 0;
      }
    }

    & > p {
      font-size: var(--font-size-xs);
      margin-left: 10px;
      padding-right: 7px;
      position: absolute;
      bottom: 7px;
    }
  }
}

.hourly-forecast {
  grid-row: 1;
  grid-column: 3 / -1;
}

.daily-forecast {
  grid-row: 1 / -1;
  grid-column: 1 / 3;
}
