.weather-main {
  display: grid;
  grid-template-columns: repeat(6, minmax(10rem, 1fr));
  grid-template-rows: repeat(3, minmax(10rem, 1fr));
  grid-template-areas:
    'daily-forecast daily-forecast hourly-forecast hourly-forecast hourly-forecast hourly-forecast'
    'daily-forecast daily-forecast weather-misc weather-misc weather-misc weather-misc'
    'daily-forecast daily-forecast weather-misc weather-misc weather-misc weather-misc';
  gap: 18px;
  padding: 18px;

  & .weather-main__section {
    font-family: var(--poppins-stack);
    position: relative;
    border-radius: var(--space-s);
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: var(--bg-backdrop-filter);
    padding-left: 10px;

    & > .weather-main__section_header {
      margin-top: 7px;
      margin-bottom: var(--space-m);
      display: flex;
      align-items: center;

      & > img {
        margin-right: 7px;
      }

      & > h1 {
        font-size: var(--font-size-xs);
        margin-left: 0;
      }
    }

    & > span {
      font-size: var(--font-size-l);
      font-weight: 500;
    }

    & > p {
      font-size: var(--font-size-xs);
      padding-right: 7px;
      position: absolute;
      bottom: 7px;
    }
  }
}

.hourly-forecast {
  grid-area: hourly-forecast;
}

.daily-forecast {
  grid-area: daily-forecast;
}

.weather-misc {
  grid-area: weather-misc;
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  grid-template-rows: repeat(2, minmax(10rem, 1fr));
}
