.weather-main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 18px;
  padding: 18px;

  & > div {
    border: 1px solid;
  }
}

.hourly-forecast {
  grid-row: 1;
  grid-column: 1 / -1;
}

.daily-forecast {
  grid-row: 2 / -1;
  grid-column: 1 / 3;
}
